﻿@model Category 
@{ ViewData["Title"] = "Add Category"; }

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" placeholder="Category Name" />
        <span asp-validation-for="Name"></span>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Save" />
    </div>
</form>