﻿@model List<Category>
@{ ViewData["Title"] = "Categories"; }

<ul class="list-group">
    @foreach(var cat in Model){
        <li class="list-group-item">
            @cat.Name 
            <em>(@string.Join(", ", cat.ProductCategory.Select(i => i.Product.Name)))</em>
        </li>
    }
</ul>
<a asp-action="Add" class="btn btn-primary mt-4">Add Category</a>