﻿@model ProductCategory
@{ ViewData["Title"] = "Add Product"; }

<form asp-action="Add" method="post">
    <div class="form-group">
        <label asp-for="Product.Name"></label>
        <input asp-for="Product.Name" class="form-control" placeholder="Product Name" />
        <span asp-validation-for="Product.Name"></span>
    </div>
    <div class="form-group">
        <label asp-for="Product.Price"></label>
        <input asp-for="Product.Price" class="form-control" placeholder="PriceName" />
        <span asp-validation-for="Product.Price"></span>
    </div>
    <div class="form-group">
        <label>Category</label>
        <select asp-for="CategoryID" class="form-control">
            @foreach(var cat in (ViewData["Categories"] as List<Category>)){
                <option value="@cat.ID">@cat.Name</option>
            }
        </select>
    </div>
    <div class="form-group">
        <input type="submit" class="btn btn-primary" value="Save" onclick="SendForm()"/>
    </div>
</form>