﻿@model List<Product>
@{ ViewData["Title"] = "Products"; }

<ul class="list-group">
    @foreach(var prod in Model){
        <li class="list-group-item"><b>@prod.Name</b> - @prod.Price TL</li>
    }
</ul>
<a asp-action="Add" class="btn btn-primary mt-4">Add Product</a>
